@model StocktakingOnline.Web.Models.ViewModel.HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
    var currentJob = Model.Jobs.SingleOrDefault(j => j.JobId == Model.UserCurrentJobId);
}

<div>
    当前您所在工作：
    @if (currentJob == null)
    {
        @:无(点击下方切换)
    }
    else
    {
        <strong>[@currentJob.JobName] @currentJob.JobDescription</strong>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>工作编号</th>
            <th>描述</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model.Jobs)
        {
            <tr>
                <td>@job.JobName</td>
                <td>@job.JobDescription</td>
                <td>
                    @(job.IsOpened?"进行中":"结束")
                </td>
                <td>
                    @if (job.JobId != Model.UserCurrentJobId && job.IsOpened)
                    {
                        <a asp-controller="Home" asp-action="SwitchJob" asp-route-jobId="@job.JobId">切换工作</a>
                    }
                </td>
            </tr>}
    </tbody>

</table>
    
