@model StocktakingOnline.Web.Models.ViewModel.PreviewViewModel
@using StocktakingOnline.Web.Services.Declaration
@inject IStorageService storageService
@{
    ViewData["Title"] = "浏览盘点数据";
}
<link type="text/css" rel="stylesheet" href="~/lib/datatables.net-dt/css/jquery.dataTables.min.css" />
<style>
</style>
@if (Model.CurrentJob == null)
{
    <div class="col-sm-12">
        <p>当前没有进入盘点工作，请先到“工作列表”页面选择一个工作项目。</p>
    </div>
}
else
{
    <div class="col-sm-12 text-center">
        <h3>盘点结果</h3>
    </div>
    <div class="container row">
        <div class="col-md-10 col-sm-10 col-xs-10">
            <p>
                <span>
                    当前盘点工作：<strong>[@Model.CurrentJob.JobName] @Model.CurrentJob.JobDescription</strong>
                </span>
                @if (Model.CurrentJob.IsOpened)
                {
                    <span class="label label-success">(进行中)</span>
                }
                else
                {
                    <span class="label label-warning">(已结束)</span>
                }
            </p>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 text-right">
            <a class="btn btn-primary" target="_blank" asp-controller="Report" asp-action="Index">打印</a>
        </div>
    </div>
    <div class="col-sm-12">
        <table class="display table" id="assetInfo">
            <thead>
                <tr>
                    <th class="dt-head-center">操作</th>
                    <th class="dt-head-center">资产编号</th>
                    <th class="dt-head-center">类别</th>
                    <th class="dt-head-center">品牌</th>
                    <th class="dt-head-center">型号</th>
                    <th class="dt-head-center">序列号</th>
                    <th class="dt-head-center">盘点者</th>
                    <th class="dt-head-center">时间</th>
                    <th class="dt-head-center">照片</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr data="@item.RecordId">
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <button class="btn btn-sm btn-primary btn_edit" data="@item.RecordId">编辑</button>
                                <button class="btn btn-sm btn-danger btn_del" data="@item.RecordId">删除</button>
                            </div>
                        </td>
                        <td>@item.AssetNumber</td>
                        <td data="department">@item.DepartmentName</td>
                        <td class="dt-body-center" data="brand">@item.Brand</td>
                        <td class="dt-body-center" data="model">@item.Model</td>
                        <td class="dt-body-center" data="sn">@item.SerialNumber</td>
                        <td class="dt-body-center">@item.UserDisplayName</td>
                        <td class="dt-body-center">@item.CreatedTime.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>
                            @foreach (var imgName in item.ImageFiles)
                            {
                                var url = storageService.GetFileDownloadUrl(imgName);
                                if (!string.IsNullOrWhiteSpace(url))
                                {
                                    <a href="@url" target="_blank"><img src="@url" height="60" /></a>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="clearfix">


    </div>
    <div id="editPanel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form">
                        <div class="form-group">
                            <label for="txt_assetNumber">资产编号</label>
                            <input type="text" id="txt_assetNumber" class="form-control" readonly="readonly" />
                        </div>

                        <div class="form-group">
                            <label>类别</label>
                            <select id="department"></select>
                        </div>

                        <div class="form-group">
                            <label>品牌</label>
                            <input type="radio" value="A" name="brand" disabled/><span class="cw">苹果产品</span>
                            <input type="radio" value="R" name="brand" disabled/><span class="cw">非苹果产品</span>
                        </div>

                        <div class="form-group">
                            <label>型号</label>
                            <input type="text" id="txt_model" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>序列号</label>
                            <input type="text" id="txt_SerialNumber" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn_save" onclick="" class="btn btn-default btn-primary">保存</button>
                    <button id="btn_cancel" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>

    </div>


}



@section Scripts
    {
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>

    <script>function fillDataToPage(result) {
        console.log(result);
        $("#txt_model").val(result.model);
        $("#txt_SerialNumber").val(result.serialNumber);
        $('#department').val(result.departmentId);
        if (result.brand == 'R') {
            $("input:radio[name='brand']").eq(1).attr('checked', 'true');
        }
        else {
            $("input:radio[name='brand']").eq(0).attr('checked', 'true');
        }
        $("#txt_assetNumber").val(result.assetNumber);

}



function loadDepartment() {
            $.ajax({
                type: "Get",
                url: "/Preview/Departments",
                success: function(result) {
                    var html = "";
                    for (var i = 0; i < result.length; i++) {
                        html += "<option value='" + result[i].departmentId + "'>" + result[i].departmentName + "</option>";
                    }
                    $('#department')[0].innerHTML = html;

                },
                error: function() {
                    alert("获取类别失败");
                }
            });
}
function loadInventoryItemAfterEdit(recordId) {
            $.ajax({
                type: "Get",
                url: "/Preview/Items/" + recordId,
                success: function(result) {
                    $("tr[data=" + recordId + "]").find("td[data='model']").text(result.model);
                    $("tr[data=" + recordId + "]").find("td[data='department']").text(result.departmentName);
                    $("tr[data=" + recordId + "]").find("td[data='brand']").text(result.brand);
                    $("tr[data=" + recordId + "]").find("td[data='sn']").text(result.serialNumber);
                },
                error: function(xhr, status, error) {
                    alert("获取失败，刷新页面后重试");

                }
            })

}
function validateData() {
            var model = $('#txt_model').val();
            var sn = $('#txt_SerialNumber').val();
            if (model.trim() == "" || sn.trim() == "") {
                alert("型号和序列号不能为空！");
                return false;
            }
            if (model.length >= 50 || sn.length >= 50) {
                alert("型号和序列号的最大长度为50");
                return false;
            }

}



$(document).ready(function() {

            var recordId = 0;

            $('#assetInfo').DataTable({
                "paging": false,
                "searching": false,
                "bInfo": false,
                "ordering": false

            });

            $('.btn_del').click(function() {
                event.stopPropagation();
                if (confirm("是否确认删除")) {
                    var id = $(this).attr("data");
                    $.ajax({
                        type: "delete",
                        url: "/Preview/Items/" + id,
                        success: function(result) {
                            alert("删除成功");
                            window.location.reload();
                        },
                        error: function(xhr, status, error) {
                            alert("删除失败，请刷新列表后重试");

                        }
                    })
                }
            });

            $('.btn_edit').click(function() {
                loadDepartment();
                var id = $(this).attr("data");
                $.ajax({
                    type: "Get",
                    url: "/Preview/Items/" + id,
                    success: function(result) {
                        fillDataToPage(result);
                        recordId = id;
                    },
                    error: function(xhr, status, error) {
                        alert("获取失败，刷新页面后重试");

                    }
                });
                $('#editPanel').modal('show');

            });

            $('#btn_save').click(function() {

                var departmentId = $('#department').val();
                var brand = $("input[name='brand']:checked").val();
                var model = $('#txt_model').val();
                var sn = $('#txt_SerialNumber').val();
                if (model.length > 50 || sn.length > 50) {
                    alert("型号和序列号的最大长度为50");
                    return false;
                }
                var data = {
                    departmentId: departmentId,
                    brand: brand,
                    model: model,
                    SerialNumber: sn
                };
                $.ajax({
                    type: "Post",
                    url: "/Preview/Items/" + recordId,
                    data: data,
                    success: function(result) {
                        loadInventoryItemAfterEdit(recordId)
                    },
                    error: function() {
                        alert('保存失败！');
                    }
                });
                $('#editPanel').modal('hide');


            })
});</script>

}
