@model StocktakingOnline.Web.Models.ViewModel.PreviewViewModel
@using StocktakingOnline.Web.Services.Declaration
@inject IStorageService storageService
@{
    ViewData["Title"] = "浏览盘点数据";
}
<link type="text/css" rel="stylesheet" href="~/lib/datatables.net-dt/css/jquery.dataTables.min.css" />
@if (Model.CurrentJob == null)
{
    <div class="col-sm-12">
        <p>当前没有进入盘点工作，请先到“工作列表”页面选择一个工作项目。</p>
    </div>
}
else
{
    <div class="col-sm-12 text-center">
        <h3>盘点结果</h3>
    </div>
    <div class="col-sm-12">
        <p>当前盘点工作：<strong>[@Model.CurrentJob.JobName] @Model.CurrentJob.JobDescription</strong></p>
        <p>
            状态：
            @if (Model.CurrentJob.IsOpened)
            {
                <span class="label label-success">(进行中)</span>
            }
            else
            {
                <span class="label label-warning">(已结束)</span>
            }
        </p>
    </div>
    <div class="col-sm-12">
        <table class="display table" id="assetInfo">
            <thead>
                <tr>
                    <th class="dt-head-center">资产编号</th>
                    <th class="dt-head-center">类别</th>
                    <th class="dt-head-center">品牌</th>
                    <th class="dt-head-center">型号</th>
                    <th class="dt-head-center">序列号</th>
                    <th class="dt-head-center">盘点者</th>
                    <th class="dt-head-center">时间</th>
                    <th class="dt-head-center">照片</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.AssetNumber</td>
                        <td>@item.DepartmentName</td>
                        <td class="dt-body-center">@item.Brand</td>
                        <td class="dt-body-center">@item.Model</td>
                        <td class="dt-body-center">@item.SerialNumber</td>
                        <td class="dt-body-center">@item.UserDisplayName</td>
                        <td class="dt-body-center">@item.CreatedTime.ToString("yyyy-MM-dd hh:mm")</td>
                        <td>
                            @foreach (var imgName in item.ImageFiles)
                            {
                                var url = storageService.GetFileDownloadUrl(imgName);
                                if (!string.IsNullOrWhiteSpace(url))
                                {
                                    <a href="@url" target="_blank"><img src="@url" height="60" /></a>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="clearfix">


    </div>
}

@section Scripts
    {
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>

    <script>$(document).ready(function() {
            $('#assetInfo').DataTable({
                "paging": false,
                "searching": false,
                "bInfo": false

            })

});</script>

}