@model StocktakingOnline.Web.Models.ViewModel.InventoryViewModel
@{
    ViewData["Title"] = "录入盘点数据";
}
@if (Model.CurrentJob == null)
{
    <div class="col-sm-12">
        <p>当前没有进入盘点工作，请先到“工作列表”页面选择一个工作项目。</p>
    </div>
}
else if (!Model.CurrentJob.IsOpened)
{
    <div class="col-sm-12">
        <p>当前盘点工作<strong>[@Model.CurrentJob.JobName] @Model.CurrentJob.JobDescription</strong>已经结束。</p>
    </div>
}
else
{
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }

    <div class="text-center">
        <h3>开始盘点</h3>
    </div>

    @if (Model.ShowAddSuccessedText)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            数据已成功录入
        </div>
    }

    <div class="col-sm-12 text-left">
        <p>当前盘点工作：<strong>[@Model.CurrentJob.JobName] @Model.CurrentJob.JobDescription</strong></p>
    </div>

    <div class="col-sm-12 text-left">
        @await Html.PartialAsync("AddInventoryItem", Model.AddInventoryItemViewModel)
    </div>

    @if (Model.LastAddedInventoryItem != null)
    {
        <hr />
        <div class="col-sm-12 text-left">
            <h4>最近向此盘点工作中录入的数据：</h4>

            <table class="table">
                <thead>
                    <tr>
                        <th>属性</th>
                        <th>值</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>录入时间</td>
                        <td>@Model.LastAddedInventoryItem.CreatedTime.ToString("yyyy-MM-dd hh:mm:ss")</td>
                    </tr>
                    <tr>
                        <td>资产编号</td>
                        <td>@Model.LastAddedInventoryItem.AssetNumber</td>
                    </tr>
                    <tr>
                        <td>类别</td>
                        <td>@Model.LastAddedInventoryItem.DepartmentName</td>
                    </tr>
                    <tr>
                        <td>品牌</td>
                        <td>@Model.LastAddedInventoryItem.Brand</td>
                    </tr>
                    <tr>
                        <td>型号</td>
                        <td>@Model.LastAddedInventoryItem.Model</td>
                    </tr>
                    <tr>
                        <td>序列号</td>
                        <td>@Model.LastAddedInventoryItem.SerialNumber</td>
                    </tr>
                    <tr>
                        <td>照片数量</td>
                        <td>@Model.LastAddedInventoryItem.ImageFiles.Count</td>
                    </tr>
                </tbody>
            </table>
        </div>

    }
}